<header>
  <h3>Pagina: <%= typeof pagina != 'undefined' ? pagina: 'home' %></h3>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" href="/">
      EJS
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/" class="navbar-brand text-white nav-link">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/about" class="navbar-brand text-white nav-link">
          About
        </a>
      </li>
    </ul>
  </nav>
</header>